version: "3"
services:
  docker-drdplus-info:
    build: .
    environment:
      PROJECT_ENVIRONMENT: "dev"
    volumes:
      - ./.docker/etc/caddy:/etc/caddy:delegated
      - ./.docker/entrypoint.sh:/entrypoint.sh:delegated
    entrypoint:
      - sh
      - -c
      - /bin/bash /entrypoint.sh
    labels:
      - "traefik.frontend.rule=HostRegexp: gamecon.loc,asterionrpg.loc,{subdomain:(.+[.])+}asterionrpg.loc"
      - "traefik.docker.network=docker-www"
    expose:
      - "80"
    restart: "no"
    networks:
      - default
      - proxy

networks:
  proxy:
    external:
      name: docker-www
