http://skeleton.asterion.loc {
    root * /var/www/skeleton.asterion
    import ../CaddyfileLocalPhpProject
}

http://hlavni-modul.asterion.loc {
    redir http://hlavnimodul.asterion.loc{uri}
}

http://hlavnimodul.asterion.loc {
    root * /var/www/hlavni-modul
    import ../CaddyfileLocalPhpProject
}
